spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ari_community?serverTimezone=UTC&useSSL=false
    username: root
    password: dain5835
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create   # 개발 중에는 create / create-drop / update 중 선택
    properties:
      hibernate:
        format_sql: true

  mvc:
    servlet:
      path: /api

logging:
  level:
    org.hibernate.SQL: debug